/* the footer of the page */
footer{
    color: rgba(255, 255, 255, 0.724);
    background-color: black;
    bottom: 0;
    position: fixed;
    width:100%;
    text-align: center;
    margin: 0%;
    padding: 0;
}
/* to make the ruler and the flaf be without space */
nav, h1, img{
    margin: 0;
}
.ruler{
    border-radius: 3px color rgb(5, 5, 5);
}
/* the style header */
header h1{
    color: aqua;
    text-align: left;
}
/* style img header */
header img{
    width: 100px;
    float: right;
    margin: 0px,0px;
}
/* second title */
h2{
    text-align: center;
}
/*  */
nav{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}
iframe{
    width: 590px;
    margin: 10px;
    
}
